<h1>Anagramer</h1>

<form action="/Rock/results" method="post">
  <label for="inputOne">Enter rock,scissors, or paper:</label>
  <input name="inputOne" class="form-control" id="inputOne">
  <br>

  <br>

  <button type="submit" class="btn btn-success">Go.</button>
</form>
